* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background: rgb(131,22,152);
  background: linear-gradient(90deg, rgba(131,22,152,1) 0%, rgba(84,27,238,1) 49%, rgba(9,77,233,1) 100%);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}